body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Font used in the application: https://coolors.co/palette/ffbc42-d81159-8f2d56-218380-73d2de */

body,
html {
  height: 100%;
  margin: 0;
}

@font-face {
  font-family: "Christmas Goodwill";
  src: url("./fonts/Christmas_Goodwill.ttf");
}
